/* Общие стили */
.page {
    background-color: #f7f7f7; /* Светлый фон */
    color: #1c1e21; /* Темный цвет текста */
    margin: 0;
    padding: 0;
    font-family: system-ui;
}


/* Навигационная панель с градиентом */ 
.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    background: linear-gradient(to right, #1a1a1a, #4d4d4d);
    animation: gradientAnimation 4s infinite alternate;
    background-size: 400% 400%; 
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    grid-column: 2 / 3; /* Вторая колонка */
    justify-self: center; 
    padding: 10px 20px;
    animation: gradientAnimation 5s infinite alternate;
    background-size: 400% 400%; 
}

.image {
    display: block; /* Убирает лишние отступы */
    margin: 20px auto; /* Заставляет изображение растягиваться на всю ширину родительского контейнера */
    height: auto;
    width: 50%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar .navbar_elem {
    margin: 0 15px;
}

.navbar .navbar_link {
    color: #ffffff; /* Белый цвет текста */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.5s ease; 
}

.navbar .navbar_link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    color: #ffcc00;
}

/* Заголовок с градиентом */
.page_header {
    grid-column: 1 / 2; 
    justify-self: start;
    color: white;
    text-align: center;
    padding: 20px 30px;
}

.header_text {
    margin: 0;
    font-size: 2em;
}

/* Основной контейнер с легким градиентом */
.page_content  {
    padding: 20px;
    max-width: 95%;
    margin: 20px auto;
    background: linear-gradient(to bottom, #ffffff, #f7f7f7); /* Легкий градиент от белого к светло-серому */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* Тень */
    border-radius: 8px;
}

/* Фильтры */
.filter {
    margin-bottom: 20px;
}

.label {
    font-family: cursive;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
}

.sub_header {
    font-family: cursive;
    font-size: 20px;
}

.select {
    font-size: 14px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Информация об автомобиле */
#car_info {
    display: none;
}

#car_info p {
    margin: 10px 0;
}

/* История бренда */
.brand-history {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Таблица цен */
.price-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background-color: #cccaca;
}

.price-table th, .price-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.price-table .table_body tr:hover {
    background-color: #f0f2f5;
}

/* Отступы и скрытие селектов */
#car-model {
    display: none;
    margin-top: 10px;
}

