/* Основной стиль для страницы */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* Навигационная панель в стиле Facebook */
.navbar {
  background-color: #3b5998; /* Цвет Facebook */
  color: white;
  padding: 10px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}

/* Заголовок страницы */
header {
  background-color: #3b5998;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Основной контент */
main {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.filter {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Стили для таблицы с сервисами */
#servicesTable {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f9;
}

/* Стили для гистограмм */
#profitChartSection {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Два столбца одинаковой ширины */
  gap: 20px; /* Расстояние между колонками */
}

.hist_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Центрируем текст внутри контейнера */
}

.chart-title {
  margin-bottom: 10px; /* Добавим отступ снизу, чтобы текст не сливался с графиком */
  font-size: 1.5em; /* Можно настроить размер текста */
  font-weight: bold;
}
